.top-border
{
  border-top: 2px solid red;
}
.video-div 
{
 /*margin:3px;*/
    width: 500px;
	height: 320px;
}
.comment-div{
	width: 250px;
	height: 320px;
}
.container
{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
.card
{
    /*margin: 15px;*/
}

.card-top-margin{
	margin-top: 10px;
}
.side-card-top-margin{
	margin-top: 18px;
}
.social
{
    padding: 0;
    margin: 0;
    
}
.btn {
  background-color: inherit; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  /*padding: 8px 12px;  Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  opacity: inherit;
  display: block;
	margin-left: 10px;
	margin-right: 10px
	
}

.text-padding, .img-padding {
	padding-left: 10px;
}

.card-padding, .top-padding {
	padding: 15px;
    max-width: 100%;
}

.button-padding {
	padding-left: 14px;
}

.div-top-margin {
	margin-top: 2px;
}
.btn-group {
	margin-top: 2px;
}



.btn-group-lg {
	margin: 0px;
}

.left {
 float: left;
 padding: 0 20px 20px 0;
}

.img-padding {
	padding-left: 10px;
}

.h4 {
	
    margin:0px;
}
.icon-padding
{
	padding-top: 15px;
	padding-left: 35px;
}



.row1 {
	max-width: 33%;
}

.column1 {
	width: 33%;
	height: 90px;
}

.icon-text {
	padding-left: 10px;
	font-size-adjust: auto;
	font-weight: bold;
}
.author-padding{
	padding-left: 20px;
	padding-top: 20px;
}

.icon-padding {
	padding-top: 1px;
}

/* ribbon technology*/
.ribbon-tech{
  width: 100px;
  height: 25px;
  position: absolute;
}
 
/* ribbon-1 */
.ribbon-1{
  background: linear-gradient(to left, #08CFB9, #08CFB9);
  top: 15px;
  right: -10px;
}
 
.ribbon-1:before{
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  border-left: 5px solid #030303;
  border-right: 5px solid transparent;
  border-top: 5px solid #030303;
  border-bottom: 5px solid transparent;
}

/* side bar ribbon*/

.ribbon-2{
  background: linear-gradient(to left, #08CFB9, #08CFB9);
  top: 8px;
  right: -20px;
}
 
.ribbon-2:before{
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  border-left: 5px solid #030303;
  border-right: 5px solid transparent;
  border-top: 5px solid #030303;
  border-bottom: 5px solid transparent;
}

.ribbon-post, .ribbon-world{
  width: 60px;
  height: 25px;
  position: absolute;
}

.ago-text{
	font-size: 10px;
	text-align: left;
}

.red-square{
	max-width: 20px;
	height: 20px;
	background-color: red;
}

.margin-left{
	margin-left: 0px;
	margin-right: 0px;
}

.padding-left{
	padding-left: 20px;
	padding-right: 0px;
}

.button-color{
	background-color: #08CFB9;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
	
  color: #fff;
	background-color: #08CFB9;
	/*border-top: 5px solid #EB0024;*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #272727;
	}

li a:hover:not(.active) {
  background-color: #534A4A;
  color: #fff;
}

/*h5::before {
	content: '';
	background: #F10A0D;
	display: block;
	max-width: 15px;
	height: 15px;
	top: 25px;
	left: 0;
	
}*/

.sidenav {
  height: 560px;
  max-width: 200px;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #534A4A;
  color: white;
  overflow-x: hidden;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.padding-top{
  padding-top: 20px;
}

.sidebar-margin{
	margin-top: 20px;
}

body {
  box-sizing: border-box;
}

.sidebar-opacity{
	opacity: 0.5;
}

/*.clearfix{
	overflow: auto;
}*/

.tiles-hover{
	
}

.text-block {
  position: absolute;
  top: 25px;
  right: 35px;
  background-color: tomato;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.navbg{
	
	background-color: #272727;
	color: white;
}

.padding{
	padding-left: 25px;
	padding-right: 25px;
}

.clearfix::before {
	
  content: "";
  clear: both;
  display: table;

}

.img1{
	float: left;
}

#barheader{
	max-width: inherit;
	height: 40px;
	background-color: tomato;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
}

.bar-img{
	width: 120px;
	height: 80px;
	position: relative;
	top: 20px;
	left: 30px;
}

.bar-img-second{
	width: 120px;
	height: 80px;
	position: relative;
	top: 150px;
	left: 30px;
}

.overlaping-img{
	position: relative;
	margin-left: -30px;	
}
.overlaping-img-sec{
	position: relative;
	margin-left: -15px;
	opacity: 0.6;
}
.first-overlp-img {
  position: relative;
  z-index: 1;
}

.div-second{
	float:right
}
/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
.side-bar {
	max-width: 160px;
	/*float: left;*/
}

#main-body{
	max-width: 700px;
	float: right;
	background-color: aqua;
	
}
#cards-panel{
	max-width: 320px;
	height: auto;
}

.body-cards {
	margin-top: 20px;
	
}
